*{
	padding: 0;
	margin: 0;
}
body {
			background-image: url("cloud2.jpg");
			text-align: center;
			margin-bottom: 20px;
			
					
		}
h1{
	/*padding-top: 20px;*/
	font-size: 35px;

}
p{
	font-size: 20px;
}
#nav{
	background-color: darkgreen;
	/*height: 5px;*/
	font-size: 25px;
	font-weight: bold;
	font:Tahoma;
	/*padding-bottom: 20px;*/

}
#nav ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	/*text-align: center;*/

}
#nav li{
	display: inline;
	padding: 25px;
	/*text-align: center;*/
	vertical-align: middle;
}
#nav a{

	text-decoration: none;
	color: #00f;
	padding: 20px;
	color: white;
	vertical-align: middle;

}
#nav a:hover{
	color: black;
	background-color: white;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  margin: 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    /*border: 2px solid red;*/
    border-radius: 4px;
}
footer p{
	font-size: 20px;
	text-align: center;
	color: darkblue;
}

	